* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.title {
    font-size: 30px;
    margin: 15px;
}

button {
    margin-bottom: 15px;
}
.container {
    height: 80vh;
    width: 90vw;
    background-color: #cccccc;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(16, auto);  */
    /* grid-template-rows: repeat(16,auto); */
    justify-content: stretch;
    align-content: stretch;
}

.item {
    border: 1px solid black;
}